<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container title">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <h1>Quelles équipes seront sur le podium de la Coupe du Monde 2018 ?</h1>
                    <h2>Faites vos jeux et découvrez les pronostics des autres joueurs.</h2>
                </div>
            </div> 
        </div>
        <div class="container pronos">
            <div class="row">
                <div class="col-12">
                        <h3>Mon pronostic</h3>
                    </div>
                <div class="col-12">
                    <p>Champion du monde :</p>
                </div>
            </div>
        </div>
    </body>
</html>