<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <body class= p-3>
    <h1 class="display-4"><strong>FRANCE</strong></h1>
    <h4><small>Classement FIFA: 7 </small></h4>
    
      

<div class="container p-3">
          
        <div class="row">
            <div class="col">
                <h2 class="m-2"><strong><em>Passé en coupe du monde</strong></em></h2>
          <h1 class="mt-3 mb-0" >14<small class="text-muted">/17</small></h1>
              <h4><small class="text-muted">PHASES FINALES / CAMPAGNES QUALIFICATIVES</small><h4>
              <h4><small class="text-muted ">MEILLEUR RESULTAT:</small><strong> VAINQUEUR 1998</strong></td>  </h4>                        
              </div>

              <div class="col">           
              <h4>
                  <table class="table">
                      <tbody>
                        <tr> </tr>
                        <tr>
                          <td>PREMIER TOUR</td>
                          <td><strong>14</strong><small class="text-muted"> APPARITIONS</small></td>                          
                        </tr>   
                        <tr>
                          <td>DEUXIEME TOUR</td>
                          <td><strong>14</strong><small class="text-muted"> APPARITIONS</small></td>                          
                        </tr>
                        <tr>
                          <td>DEMI-FINALES</td>
                          <td><strong>5</strong><small class="text-muted"> APPARITIONS</small></td>                         
                        </tr>
                        <tr>
                          <td>TITRES</td>
                          <td><strong>2</strong><small class="text-muted"> APPARITIONS</small></td>                          
                        </tr>
                      </tbody>
                    </table>
                
            </div>
          </div> </div>
          
      <div class="accordion p-3" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
               <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4><strong>Le sélectionneur</strong></h4>
                </button>
               </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <div class="container">
                      <div class="row">
                           <div class="col">
                  <h1><p class="text-danger m-3 mr-3">Didier DESCHAMPS</h1></p>
                  <img src="../public/images/france/deschamps.jpg"  class="rounded" alt="Responsive image">
                </div>
        
                <div class="col p-5 vertical-center">   
                  <p>Ancien champion du monde lui-même, Deschamps est à la tête des Bleus depuis 2012. Après avoir exercé à Monaco, à la Juventus et à Marseille, le Français a mené son pays à la première place du Groupe A, devant la Suède et les Pays-Bas.
                  </p>
                  </div>
              </div> </div>
              
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header" id="headingTwo">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4><strong>Composition de l'équipe</strong></h4>
                  </button>
                </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <img src="../public/images/france/equipe.jpg"  class="img-fluid " alt="Responsive image">
                  <table class="table vertical-center style=float:none; ">
                      <thead>
                        <tr>
                          <th scope="col" colspan="4">GARDIENS</th>
                       </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>H. LLORIS</td>
                          <td>S. MANDANDA</td>
                          <td coldspan="4">S. RUFFIER</td>
                        </tr>
                        <thead>
                            <tr>
                              <th scope="col" colspan="4">DEFENSEURS</th>
                            </tr>
                          </thead>
                        <tr>
                          <td>M. DEBUCHY</td>
                          <td>P. EVRA</td>
                          <td>L. KOSCIELNY</td>
                          <td>E. MANGALA</td>
                        </tr>
                        <tr>
                          <td>B. SAGNA</td>
                          <td>B. TREMOULINAS</td>
                          <td>R. VARANE</td>
                          <td>K. ZOUMA</td>
                        </tr>
                        <thead>
                            <tr>
                              <th scope="col" colspan="4">MILIEUX</th>
                            </tr>
                          </thead>
                        <tr>
                          <td>Y. CABAYE</td>
                          <td>G. KONDOGBIA</td>
                          <td colspan="2 ">B. MATUIDI</td>
                        </tr>
                        <tr>
                          <td>P.POGBA</td>
                          <td>M. SCHEIDERLIN</td>
                          <td colspan="2">M. SISSOKO</td>
                        </tr>
                        <thead>
                            <tr>
                              <th scope="col" colspan="4">ATTAQUANTS</th>
                            </tr>
                          </thead>
                        <tr>
                          <td>K. BENZEMA</td>
                          <td>N. FEKIR</td>
                          <td colspan="2 ">O. GIROUD</td>
                        </tr>
                        <tr>
                          <td>A. GRIEZMANN</td>
                          <td>A. MARTIAL</td>
                          <td colspan="2 ">M. VALBUENA</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h4><strong>Prochains matchs</strong></h4>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                    </div>
              
            

      
      </div>


</body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>

